*.iws

.idea_modules/

atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

*.class
.idea
.out
*.iml

META-INF
out
*.jar